@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-dark-color: #4c4c4c;
  --dark-color: #303030;
}

body {
  margin: 0;
  background-color: #ECF0F1;
}

* {
  font-family: "Kodchasan", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  color: var(--soft-dark-color);
}

a {
  color: var(--soft-dark-color);
}
