footer {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  align-items: center;
  background-color: rgb(253, 253, 253);
}

footer h3 {
  text-align: center;
  font-size: 16px;
  color: var(--dark-color);
}

footer > a {
  text-decoration: none;
  font-size: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
}

footer div a img {
  height: 26px;
}

footer div a:hover img {
  height: 28px;
}

footer div a {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a img {
  height: 15px;
  margin: 0 10px;
}

footer .flag {
  border-radius: 3px;
  border: 1px solid rgb(241, 241, 241);
}

footer div {
  display: flex;
  flex-direction: row;
}

footer span {
  margin-top: 25px;
  font-size: 13px;
}
