/* .projects-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
} */

/* .project-wrapper {
  margin-bottom: 50px;
} */

/* .project-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  width: 410px;
  height: 260px;
  margin: 20px;
  transition: 0.5s;
  cursor: pointer;
} */

/* .project-card:hover {
  box-shadow: 0 5px 5px 0 rgba(128, 128, 128, 0.5), 0 0 0 1px #e9edf1;
} */

/* .project-card h1 {
  font-weight: normal;
  font-size: 16px;
  color: var(--dark-color); // TODO: ADD color
  transition: 0.5s;
} */

/* .project-card img {
  height: 130px;
  transition: 0.5s;
} */


@media screen and (max-width: 964px) {
  .project-card {
    width: 360px;
    height: 210px;
  }

  .project-card img {
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .project-card {
    width: 100%;
    min-width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .project-card img {
    height: 80px;
  }

  .project-card-info span {
    font-size: 14px;
  }
}


/* .project-card-info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  transition: 0.5s;
} */

/* .project-card-info img {
  height: 28px;
  transition: 0.5s;
} */

/* .project-card-info span {
  margin-bottom: 20px;
  transition: 0.5s;
  text-align: center;
  font-size: 15px;
} */

/* .project-card-info img:first-child {
  margin-right: 15px;
} */

.project-card:hover .project-card-info {
  display: flex;
}

.project-card:hover > h1 {
  display: none;
}

.project-card:hover > img {
  display: none;
}
